@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
<!--    Item1 = Customer,                  Item2 = Item,                  Item3 = paymentType-->
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Home.css" />

<fieldset>
    <legend>Menu</legend>
    <div class="container">
        <div class="row" style="margin-left: 15px">
            <div class="form-group">
                <label>Item:</label>
                @Html.DropDownList("Item", new SelectList(Model.Item2, "Value", "Text"),
                   new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Quantity:</label>
                <input type="number" style="text-align: right" id="txtQuantity" value="0.00" name="Qauntity" min="0" >
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input type="text" style="text-align: right" readonly="readonly" id="txtPrice" value="0.00" name="Price" class="form-control">
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        Checkout
    </legend>
    <div class="container">
        <div class="col-md-4">
            <div class="form-group">
                <label>Customer:</label>
                @Html.DropDownList("Customer", new SelectList(Model.Item1, "Value", "Text"),
               new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Payment Type:</label>
                @Html.DropDownList("PaymentType", new SelectList(Model.Item3, "Value", "Text"),
               new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Discount:</label>
                <input type="text" style="text-align: right" id="txtDiscount" value="0.00" name="Discount" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Total: <i style="font-weight: 300">plus tax</i></label>
                <input type="text" style="text-align: right" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <input type="button" style="margin-top: 5px" value="Add To List" name="AddToList" id="btnAddToList" class="btn btn-success" />
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Listed Items</legend>
    <table style="width:100%">
        <thead>
            <tr>
                <th hidden>
                    Item Id
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Total
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
    </table>
</fieldset>






@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@




@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@